@font-face{
    font-family: digitlaClock;
    src: url(/fonts/DIGITALDREAMSKEW.ttf);
}

.day{
    font-family: digitlaClock;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 8vw;
    
}

.night{
    font-family: digitlaClock;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: greenyellow;

}

#center-time{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#corect-date{
    /* position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%); */
    display: block;
    text-align: center;
    padding: 2%;
    font-size: 2vw;
    
}

nav{
    /* background-color: teal; */
    cursor: pointer;
    font-size: 25px;
    float: right;
}