@font-face{
    font-family: digitlaClock;
    src: url(./fonts/DIGITALDREAMSKEW.ttf);
}

.day{
    font-family: digitlaClock;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    
}

.night{
    font-family: digitlaClock;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: greenyellow;

}

#center-time{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 8vw;
}
#corect-date{
    /* position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%); */
    display: block;
    text-align: center;
    padding: 2%;
    font-size: 2vw;
    
}

/* Navigacija flex */
nav{
    /* background-color: teal; */
    font-size: 25px;
    float: right;
    display: block;
    width: 100%;
}
.navigation ul{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}
.navigation li {
    list-style: none;
    justify-content: space-around;
    flex: 1;
    cursor: pointer;
    text-align: center;

}
.fa-moon{
    flex: 4;
    text-align: right;
    cursor: pointer;
}

.navigation li:hover{
   
    text-decoration: underline;
}
.navigation a{
    color: honeydew;
    text-decoration: none;
}
.center-time{
        font-size: 8vw;
}
.input-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.input-timer input{
    background: #16222A; 
     padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: digitlaClock;
    font-size: 3vw;
    width: 170px;
    /* opacity: 0.5; */
    border-radius: 15px;

}
.strat-button{
display: block;
position: relative;
left: 50%;
margin-top: 10px;
transform: translateX(-50%);
padding: 10px;
border: 1px solid white;
background-color: transparent;
color: white;
font-family: digitlaClock;
font-size: 20px;
cursor: pointer;

}